@import "variables.scss";

.cabecera{
    width: $width-minimo;
   }
   .error404{
    padding: 0%;
    margin: 0%;
    
   }
   .colorfondo{
    background: map-get($map:$map-colors, $key:color-trece);
    background: map-get($map:$map-colors , $key: linear-gradient);
   }
   .divback{
   width: $width-maximo;
   height: $heigth-maximo;
   }
    .BackgroundBanner {
      @include relative-nulo ($position-flex,$porcentaje-nulo);
      bottom: $bottom-big;
      width: $width-maximo ; 
      height: $heigth-medio; 
      
     
     
   
      
   
    
   }
   .logogeralt{
    @include relative-nulo ($position-relative,$porcentaje-nulo);
    background-repeat: $background-norepeat;
    bottom:$bottom-fulllogo; 
    left: $left-corto;
    height:$heigth-casimedio;
    width:$width-medio;
   
   }
   @media (max-width: $media-uno){
     
     .logogeralt{
      bottom: $bottom-almostfull;   
      left:$left-mini;   
      height: $heigth-casimedio; 
      width:$width-medio; 
     
     }
   }
   @media (max-width: $media-tres){
     .logogeralt{
      @include relative-nulo ($position-relative,$porcentaje-nulo);
       
   }
   }
   
   
   .header{
    
    @include relative-nulo ($position-relative,$porcentaje-nulo);
   }
   .main{
   
    @include relative-nulo ($position-relative,$porcentaje-nulo);
   bottom: $bottom-full;
   }
   .tituloprincipal{
      background-color: map-get($map:$map-colors, $key: color-uno);
      font-size: $fuente-titulo;
      text-align: $textalign-center;
      color: map-get($map:$map-colors , $key:color-blanco );
      
      
   }
   .h2 {
     margin:$margin-unrem;
   }
   
   
   
   .Parrafos {
      font-weight: $font-weight;
      font-family: $fuente-secundaria;
      margin:$margin-unrem;
   
   }
   
   
   
   
   .imageninicio{
    @include relative-nulo ($position-relative,$porcentaje-nulo);
   }
   @media (max-width: $media-imagen){
     .imageninicio{
       height:$height-img
     }
   }
   
   
   
   
   
   
   .card {
     margin-right:$margin-right;
   }
   .card-text{
     font-family: $fuente-secundaria;
   }
   
   
   
   
   
   
   
   .lista{
     margin-right:$margin-rightdos;
     
   }
   @media (max-width: $media-uno){
     .lista{
       margin-right:$margin-rightdos;
     }
   }
   @media (max-width: $media-dos){
     .lista{
       margin-right:$margin-rightdos;
     }
   }
   @media (max-width: $media-tres){
     .lista{
       margin-right:$margin-rightdos;
       display: $display-inline;
       float: $float-right
     }
   }
   @media (max-width: $media-cuatro){
     .lista{
       margin-right:$margin-rightdos;
     }
   }
   
      
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   .nav {
    @include relative-nulo ($position-relative,$porcentaje-nulo);
   justify-content: $justify-content;
   bottom: $bottom-doublefull;
   
   right: $right-corto;
   }
   
   
   
   .nav-ul{
     justify-content: $space-between;
   }
   @media (max-width: $media-cinco){
      
     .nav ul{
       display: $display-none;
     }
   }
   
   
   
   
   
   
   .ul li {
     justify-content: $space-between;
   }
   @media (max-width: $media-cinco){
     .ul li{
       width:$width-maximo;
       padding: $padding;
       text-align: $textalign-right;
     } }
   
   
   
   
   
   .bi-list-ul{
     justify-content: $space-between;
   }
   @media (max-width: $media-cinco){
      
    
     .bi-list-ul{
       text-decoration: $text-decoration;
     }
   }
   
   
   
   
   .nav-link {
    color: map-get($map:$map-colors, $key:color-negro );
    font-size: $font-size;
    
    
    
   }
   .nav-link:hover {
    @include relative-nulo ($position-relative,$porcentaje-nulo);
    font-weight: $font-weight;
    color: map-get($map:$map-colors , $key:color-dos );
   }
   @media (max-width: $media-uno){
     .nav-link{
       font-size:$font-sizedos;
    }
   }
   @media (max-width:$media-dos){
     .nav-link{
   font-size: $font-sizecuatro;
   }
   }
   @media (max-width: $media-tres){
     .nav-link{
      font-size: $font-sizecuatro;
     }
   }
   @media (max-width: $media-cinco){
     .nav link{
       font-size:$font-sizemini;
     }
   }
   
   
   
   
   
   
   
   
   
   
   .hide {
    font-size: $font-sizetres;
    padding: $padding;
    background-color: map-get($map: $map-colors, $key:color-tres );
    color: map-get($map:$map-colors, $key:color-cuatro );
    cursor: $cursor-type;
    display:$display-none;
   }
   @media (max-width: $media-cinco){
      
     .hide {
       display: $display-block;
     } }
   
   
   
   .form{
     margin:$margin-unrem;
   
   }
   .formulariosend{
     color: map-get($map:$map-colors, $key:color-dos );
     background-color: map-get($map:$map-colors , $key: color-cinco ) ;
   }
   .maps{
     margin:$margin-unrem;
   }
   
   
   .btn {
     color:map-get($map:$map-colors, $key:color-negro );
     background-color: map-get($map:$map-colors, $key:color-cinco );
   }
   .btn:hover {
     background-color: map-get($map:$map-colors , $key:color-seis );
     color: map-get($map:$map-colors , $key:color-red );
     
   }
    .linknavsocial {
      text-align: $textalign-center;
      color: map-get($map:$map-colors, $key:color-siete );
      font-style: $font-style;
   
   }
   .linknavsocial :hover {
    font-weight: $font-weight;
    padding: $padding-min;
    background-color: $color-ocho;
    color: map-get($map:$map-colors , $key:color-blue );
   }
   .dropdown-menu {
     background-color: map-get($map:$map-colors , $key:color-nueve );
   }
   .dropdown-menu :hover {
     background-color: map-get($map:$map-colors , $key:color-diez );
     color: map-get($map:$map-colors , $key:color-red );
   }
   .dropdown-item {
     color: map-get($map:$map-colors , $key:color-once );
   }
   .misredessociales{
    @include relative-nulo ($position-relative,$porcentaje-nulo);
    text-align: $textalign-center;
    
   }
   .piedepagina{
    @include relative-nulo ($position-relative,$porcentaje-nulo);
    background-color: map-get($map:$map-colors , $key:color-doce );
   
   }