$fuente-principal:'Bungee', cursive;
$fuente-secundaria: 'Roboto Slab', serif;
$fuente-titulo:50px;
$font-style: none;
$font-sizemini:10px;
$font-size: 18px;
$font-sizedos: 16px;
$font-sizetres: 22px;
$font-sizecuatro: 14px;
$font-weight: bold;
$font-weight:900;
$porcentaje-nulo: 0%;
$padding-min:3px;
$padding: 16px;
$margin-unrem:1rem;
$margin-minimo: 0%;
$margin-right:10px;
$margin-rightdos:20px;
$tipo-box: border-box;
$width-minimo: 40;
$width-mini: 315px;
$width-chico:350px;
$width-medio: 400px;
$width-mediogrande: 450px;
$width-casigrande:580px;
$width-grande: 780px;
$width-maximo: 100%;
$height-chico: 350px;
$heigth-casimedio: 400px;
$height-img:430px;
$heigth-medio: 480px;
$heigth-maximo: 100%;
$bottom-big: 95%;
$bottom-almostfull: 350px;
$bottom-full: 100px;
$bottom-fulllogo: 370px;
$bottom-doublefull: 200px;
$position-flex: flex;
$position-relative:relative;
$background-norepeat: no-repeat;
$left-mini:5%;
$left-corto: 15%;
$right-corto: 5px;
$cursor-type: pointer;
$float-right: right;
$display-none:none;
$display-inline:inline;
$display-block:block;
$justify-content: flex-end;
$textalign-center:center;
$textalign-right: right;
$text-decoration: none;
$color-negro: black;
$color-blanco: white;
$color-red: red;
$color-blue: blue;
$color-uno: rgb(110, 37, 228);
$color-dos: rgb(8, 187, 77);
$color-tres:rgb(195, 136, 250);
$color-cuatro:rgb(19, 219, 46);
$color-cinco:rgb(212, 65, 241);
$color-seis:rgb(212, 171, 223);
$color-siete:rgb(95, 29, 201);
$color-ocho: rgb(195, 163, 224);
$color-nueve: rgb(83, 19, 129);
$color-diez:rgb(241, 168, 241);
$color-once:rgb(70, 230, 78);
$color-doce: rgb(201, 186, 186);
$media-uno:1835px;
$media-dos:1629px;
$media-tres:1483px;
$media-cuatro:1197px;
$media-cinco:858px;
$media-imagen:767px





