@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  font-family: "Bungee", cursive;
  padding: 0%;
  margin-left: 0%;
  margin-right: 0%;
  box-sizing: border-box;
}

.cabecera {
  width: 40;
}

.error404 {
  position: flex;
  padding: 0%;
  margin: 0%;
}

.colorfondo {
  background: rgb(128, 68, 187);
  background: linear-gradient(90deg, rgba(174, 127, 221, 0.827) 0%, rgba(240, 190, 238, 0.9164040616) 100%);
}

.divback {
  width: 100%;
  height: 100%;
}

.BackgroundBanner {
  position: flex;
  padding: 0%;
  margin: 0%;
  bottom: 95%;
  width: 100%;
  height: 480px;
}

.logogeralt {
  position: relative;
  padding: 0%;
  margin: 0%;
  background-repeat: no-repeat;
  bottom: 370px;
  left: 15%;
  height: 400px;
  width: 400px;
}

@media (max-width: 1835px) {
  .logogeralt {
    bottom: 350px;
    left: 5%;
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 1483px) {
  .logogeralt {
    position: relative;
    padding: 0%;
    margin: 0%;
  }
}
@media (max-width: 456px) {
  .logogeralt {
    width: 300px;
    height: 300px;
    bottom: 300px;
    left: 10%;
  }
}
.header {
  position: relative;
  padding: 0%;
  margin: 0%;
}

.main {
  position: relative;
  padding: 0%;
  margin: 0%;
  bottom: 100px;
}

.tituloprincipal {
  background-color: rgb(110, 37, 228);
  font-size: 50px;
  text-align: center;
  color: white;
}

.tituloprincipal2 {
  background-color: rgb(110, 37, 228);
  font-size: 44px;
  text-align: center;
  color: white;
}

.h2 {
  margin: 1rem;
}

.Parrafos {
  font-weight: 900;
  font-family: "Roboto Slab", serif;
  margin: 1rem;
}

.imageninicio {
  position: relative;
  padding: 0%;
  margin: 0%;
}

@media (max-width: 764px) {
  .imageninicio {
    height: 430px;
  }
}
.card {
  margin-right: 10px;
}

.card-text {
  font-family: "Roboto Slab", serif;
}

.lista {
  margin-right: 20px;
}

@media (max-width: 1835px) {
  .lista {
    margin-right: 20px;
  }
}
@media (max-width: 1629px) {
  .lista {
    margin-right: 20px;
  }
}
@media (max-width: 1483px) {
  .lista {
    margin-right: 20px;
    display: inline;
    float: right;
  }
}
@media (max-width: 1197px) {
  .lista {
    margin-right: 20px;
  }
}
.nav {
  position: relative;
  padding: 0%;
  margin: 0%;
  justify-content: flex-end;
  bottom: 200px;
  right: 5px;
}

.nav-ul {
  justify-content: space-between;
}

@media (max-width: 858px) {
  .nav ul {
    display: none;
  }
}
.ul li {
  justify-content: space-between;
}

@media (max-width: 858px) {
  .ul li {
    width: 100%;
    padding: 16px;
    text-align: right;
  }
}
.bi-list-ul {
  justify-content: space-between;
}

@media (max-width: 858px) {
  .bi-list-ul {
    text-decoration: none;
  }
}
.nav-link {
  color: black;
  font-size: 18px;
}

.nav-link:hover {
  position: relative;
  padding: 0%;
  margin: 0%;
  font-weight: 900;
  color: rgb(8, 187, 77);
}

@media (max-width: 1835px) {
  .nav-link {
    font-size: 16px;
  }
}
@media (max-width: 1629px) {
  .nav-link {
    font-size: 14px;
  }
}
@media (max-width: 1483px) {
  .nav-link {
    font-size: 14px;
  }
}
@media (max-width: 858px) {
  .nav link {
    font-size: 10px;
  }
}
.hide {
  font-size: 22px;
  padding: 16px;
  background-color: rgb(195, 136, 250);
  color: rgb(19, 219, 46);
  cursor: pointer;
  display: none;
}

@media (max-width: 858px) {
  .hide {
    display: block;
  }
}
@media (max-width: 456px) {
  .hide {
    display: block;
    bottom: 30%;
  }
}
.form {
  margin: 1rem;
}

.formulariosend {
  color: rgb(8, 187, 77);
  background-color: rgb(212, 65, 241);
}

.maps {
  margin: 1rem;
}

.btn {
  color: black;
  background-color: rgb(212, 65, 241);
}

.btn:hover {
  background-color: rgb(212, 171, 223);
  color: red;
}

.linknavsocial {
  text-align: center;
  color: rgb(95, 29, 201);
  font-style: none;
}

.linknavsocial :hover {
  font-weight: 900;
  padding: 3px;
  background-color: rgb(195, 163, 224);
  color: blue;
}

.dropdown-menu {
  background-color: rgb(83, 19, 129);
}

.dropdown-menu :hover {
  background-color: rgb(241, 168, 241);
  color: red;
}

.dropdown-item {
  color: rgb(70, 230, 78);
}

.misredessociales {
  position: relative;
  padding: 0%;
  margin: 0%;
  text-align: center;
}

.piedepagina {
  position: relative;
  padding: 0%;
  margin: 0%;
  background-color: rgb(201, 186, 186);
}/*# sourceMappingURL=style.css.map */